// $swatchMain         = #c6ffff
$swatchMain         = #8cd7f7
$swatchNeutralDark  = #646464
$swatchNeutralLight = #cecbc6

$swatchGreen      = #18a288
$swatchYellow     = #f4faa2
$swatchRed        = #fc6b3a
$swatchGreenLight = #c4eea3
$swatchGray       = #b4b4a6

$fontMain           = 'Asap'
$fontSerif          = 'Playfair Display'
$fontColorMain      = $swatchNeutralDark

// reset
button
 cursor : pointer
input, button, textarea
  border        : none
  box-shadow    : none
  border-radius : 0px

  &:focus
    outline: none
a, a:hover, a:active, a:focus
  text-decoration : none
body
  font-family: $fontMain
::-webkit-input-placeholder
  color: #fff
:-moz-placeholder
  color: #fff
::-moz-placeholder
  color: #fff
:-ms-input-placeholder
  color: #fff

.main-header
  width            : 172px
  height           : 172px
  font-family      : $fontMain
  font-size        : 120px
  color            : white
  background-color : $swatchMain

  .content
    padding : 10px
    margin  : 0 auto

.delete-btn
  cursor     : pointer
  width      : 20px
  height     : 20px
  position   : relative
  background : url("/assets/delete-02.svg") no-repeat

@import 'quote-list'
@import 'navbar'
@import 'sidebar'
@import 'login'
