// $swatchMain         = #c6ffff
$swatchMain         = #8cd7f7
$swatchNeutralDark  = #646464
$swatchNeutralLight = #cecbc6

$swatchGreen      = #18a288
$swatchYellow     = #f4faa2
$swatchRed        = #fc6b3a
$swatchGreenLight = #c4eea3
$swatchGray       = #b4b4a6

$fontMain           = 'Asap'
$fontSerif          = 'Playfair Display'
$fontColorMain      = $swatchNeutralDark

// reset
button
 cursor : pointer
input, button, textarea
  border        : none
  box-shadow    : none
  border-radius : 0px

  &:focus
    outline: none
a, a:hover, a:active, a:focus
  text-decoration : none
body
  font-family: $fontMain
::-webkit-input-placeholder
  color: #000
:-moz-placeholder
  color: #000
::-moz-placeholder
  color: #000
:-ms-input-placeholder
  color: #000

.modal-content
  padding      : 10px
  width        : 400px
  border-radius: 0px
  margin       :0 auto
  h5
    font-family : $fontSerif
  .editable-wrap,
  .editable-text,
  .editable-wrap .editable-controls > input,
  .editable-wrap .editable-controls>select,
  .editable-wrap .editable-controls>textarea
    width : 100%

  .editable-click,
  a.editable-click
    border-bottom : 0px

.home-content
  width    : 100%
  height   : 100%
  margin : 30px
  .sidebar
    width  : 15%
    height :100%
    float  : left

  .main-view
    width  : 75%
    height :100%
    float  : right


.logo
  margin-bottom : 10px
  height        : 103px
  background    : url("/assets/Q.svg") no-repeat

.main-header
  width            : 172px
  height           : 172px
  font-family      : $fontMain
  font-size        : 120px
  color            : white
  background-color : $swatchMain

  .content
    padding : 10px
    margin  : 0 auto

.delete-btn
  cursor     : pointer
  width      : 20px
  height     : 20px
  position   : relative
  background : url("/assets/delete-02.svg") no-repeat

@import 'quote-list'
@import 'navbar'
@import 'sidebar'
@import 'login'
