.home-content
  width    : 100%
  height   : 100%
  .sidebar
    width  : 20%
    height :100%
    float  : left

  .main-view
    width  : 79%
    height :100%
    float  : right

// NEWQUOTE
.new-quote
  width   : 94.2%
  padding : 10px 20px
  border  : 2px solid $swatchNeutralLight
  .header
    color : $swatchNeutralLight
    font-family : $fontMain
    font-size : 12px
  .field
    padding-left: 10px
    font-size        : 35px
    color : $swatchNeutralDark
    width: 100%
    background-color : $swatchNeutralLight
    margin-bottom: 10px
  .field-small
    height: 50px
  .field-big
    height 150px
  .submit
    width : 100%
    height : 50px

// TAGS
.tags-list-container
  width       : 100px
  font-family : $fontMain
  font-size   : 12px
  line-height : 25px
  margin-left: 20px
  a, a:hover, a:focus, a:active
    text-decoration : none
  .tag
    width: 100%
  a.tag-name
    color  : #000000
    padding: 5px
    cursor : pointer
    display : inline-block

  .tag:hover, .tag.selected
    a.tag-name
      background-color : $swatchYellow
