<html ng-app="popupApp">
  <meta charset="utf-8">

  <head ng-app="popupApp">
    <link rel="stylesheet" href="lib/styles.css" type="text/css" media="all">
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Angular -->
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>

    <!-- main JS -->
    <script type="text/javascript" src="popup.js"></script>
  </head>
  <body ng-controller="popupController">
    <ul>
    <form id="quoteableForm"  action='/notes/create'>
      <li><input id="quoteTitle" placeholder="title" name="quoteTitle"></li>
      <li><input id="quoteBody" placeholder="quote goes here" name="quoteBody"></li>
      <li><input id="quoteAuthor" placeholder="Fred Zirdung" name="quoteAuthor"></li>
      <li><input id="quoteTags" placeholder="some tags" name="quoteTags"></li>
      <li id="quoteDate">February 10, 2014</li>
      <button id="quoteSubmit" ng-click="saveQuote().then(sendQuote())">submit</button>
       <!-- ng-click="saveQuote().then(sendQuote())" -->
    </form>  
    </ul>
    {{quoteObject}}
  </body>
</html>