.tags-list-container(ng-controller="TagsCtrl as tagsctrl")
  .tag(
    ng-repeat="tag in tagsctrl.allTags track by $index"
    ng-click="tagsctrl.updateWithTag(tag)"
    ng-class="{'selected':tagsctrl.tagSelected(tag)}") 
    a {{ tag }}
