<html ng-app="quoteApp">
  <meta charset="utf-8">
  <head>
    <link rel="stylesheet" href="lib/fonts/webfontkit-20140211-025148/stylesheet.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="lib/quotableStyles.css">
    <script type="text/javascript" src="lib/jquery-1.11.0.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script type="text/javascript" src="lib/angular.js"></script>

    <script type="text/javascript" src="lib/angular-route.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
  </head>
<body ng-controller="QuoteController">
  <div id="leftColumn">
    <h1>QUOTABLE</h1>
    <input ng-model="searchQuotes" id="search" placeholder="search" type="search">
    <!--  save all tags into an object on firebase -->
  </div>
    <div id="container">
      <li ng-repeat="quote in allQuotes | orderObjectBy:'quote.date':false | filter:searchQuotes">
        <div id="info">
          <div id="quoteBody">{{ quote.body }}</div>
          <div id="quoteAuthor">{{ quote.author }}</div>
          <div id="quoteTitle">{{ quote.title }}</div>
          <div id="quoteDate">{{ }}</div>
          <span><a href="{{ quote.url }}" id="quoteUrl" target="blank">{{ quote.urlOrigin }}  </a></span>
          &#183;
          <span id="quoteTags" ng-repeat="tag in quote.tags"><a href="/#/{{tag}}" id="singleTag"> #{{tag}} </a></span>
        </div>
      </li>
    </div>
  <script type="text/javascript" src="quote.js"></script>
</body>
</html>